{:require [[hoplon.core :as hoplon]
           [javelin.core :as javelin]
           [hoplon.jquery]
           [hoplon.history :as history]
           ;[app.chat    :as chat]
           ;[app.views   :as view]
           ;[app.routing :as routing]
           ;[app.actions :as actions]
           [meta.ui.uikit :as uikit]]
 :views []
 :client {:services []}}
