(ns ^{:hoplon/page "index.html"} app.index
  (:require [javelin.core :as j]
            [meta.core :as m]
            {{#client}}
            [app.client :as client]
            {{/client}}
            {{#nobackend}}
            [app.nobackend :as nobackend]
            {{/nobackend}}
            [app.routing :as routing]
            {{#require}}
            {{{.}}}
            {{/require}}))

(binding
  [
  {{#routing}}
   m/*route*       (routing/route=)
   m/*router*      (routing/router)
  {{/routing}}
  {{#client}}
  {{/client}}
  {{#nobackend}}
   m/*user*       (nobackend/user=)
   m/*users*      (nobackend/users=)
   m/*navigation* (nobackend/navigation=)
  {{/nobackend}}
  ]
  (j/cell= (prn m/*data*))
  (uikit/app
    (uikit/dashboard :menu m/*navigation* :router m/*router*)))

{{#client}}
(-> (client/auth!)
    {{#auth}}
    ({{{.}}})
    {{/auth}})
{{/client}}

{{#nobackend}}
(-> (nobackend/auth!)
    {{#auth}}
    ({{{.}}})
    {{/auth}})
{{/nobackend}}
