(ns ^{:hoplon/page "index.html"} app.index
  (:require {{#require}}
            {{{.}}}
            {{/require}}
            )
  (:require-macros [hoplon.bidi :refer [route-tpl]]))

(dom/app :type :mdc :toolbar :temporary
  ;(route-tpl routing/routes
  ;  :login (hl/div "login!"))
    )

(-> (client/auth!)
  {{#auth}}
  {{{.}}}
  {{/auth}})
