(ns app.routing
  (:require [meta.routing :as routing]
            {{#require}}
            {{{.}}}
            {{/require}}
            ))

{{#history}}
(def route= #(routing/route= :history))

(def router #(routing/router :history))
{{/history}}
