{:require  []
 :services [{:name messages
             :store :memory
             :hooks {
               :before {:find   [(hooks/auth. (clj->js ["jwt" "local"]))]
                        :get    [(hooks/auth. (clj->js ["jwt" "local"]))]}}}]}
