(ns app.server
  (:require [meta.server :as server]
            {{#require}}
            {{{.}}}
            {{/require}}
            ))

(-> server/app
    (server/with-defaults)
    {{#rest}}
    (server/with-rest)
    {{/rest}}
    {{#socketio}}
    (server/with-socketio)
    {{/socketio}}
    {{#authentication}}
    (server/with-authentication)
    {{/authentication}}
    {{#services}}
    {{.}}
    {{/services}}
    )

(defn- main []
  (server/listen server/app "{{{port}}}"))

(defn init []
  (server/init! main))
