(ns app.services
  (:require [feathers.app :as feathers :include-macros true]
            [meta.services :as services]
            [meta.services.hooks :as hooks]
            {{#require}}
            {{{.}}}
            {{/require}}))

{{#services}}
(defn {{{name}}} [app & [store]]
  (let [storef (get services/store store ({{{store}}} services/store))]
    (feathers/api app "{{{name}}}" (storef) {{{hooks}}})))
{{/services}}
