(ns app.services
  (:require [meta.server :as server]
            [meta.services :as services]
            [meta.services.hooks :as hooks]
            {{#require}}
            {{{.}}}
            {{/require}}))

{{#services}}
(defn {{{name}}} [app & [store]]
  (let [storef (or store {{{store}}} services/memory)]
    (server/api app "{{{name}}}" (storef) {{{hooks}}})))
{{/services}}
