{:asset-paths #{"assets"}
 :resource-paths #{"resources"}
 :source-paths #{"src"}
 :dependencies [[org.clojure/clojure         "1.8.0"    ]
                [org.clojure/clojurescript   "1.9.521"  ]
                [org.clojure/tools.namespace "0.2.11" :scope "test"  ]
                [proto-repl                  "0.3.1" :scope "test"   ]
                [adzerk/boot-cljs            "2.0.0" :scope "test"   ]
                [adzerk/boot-reload          "0.5.1" :scope "test"   ]
                [degree9/boot-nodejs         "1.0.0" :scope "test"   ]
                 ;[degree9/boot-docker         "0.1.0-SNAPSHOT"    ]
                [degree9/boot-npm            "1.4.0" :scope "test"   ]
                [degree9/boot-exec           "1.0.0" :scope "test"   ]
                [degree9/boot-semver         "1.5.0" :scope "test"   ]
                [degree9/boot-semgit         "1.2.0" :scope "test"   ]
                [degree9/boot-electron       "0.1.0" :scope "test"   ]
                [degree9/boot-welcome        "0.1.0-SNAPSHOT" :scope "test"   ]
                [degree9/electron-cljs       "0.1.0"    ]
                [degree9/featherscript       "0.4.0-SNAPSHOT"]
                [degree9/nodejs-cljs         "0.1.0"    ]
                [hoplon/hoplon               "7.0.1"]
                [hoplon/brew                 "0.2.0-SNAPSHOT"]]
}
