{:asset-paths #{"assets"}
 :resource-paths #{"resources"}
 :source-paths #{"src"}
 :dependencies [[org.clojure/clojure         "1.9.0-alpha17"]
                [org.clojure/clojurescript   "1.9.542"]
                [org.clojure/tools.namespace "0.3.0-alpha4"]
                [org.clojure/test.check      "0.10.0-alpha2"]
                [proto-repl                  "0.3.1"]
                [adzerk/boot-cljs            "2.0.0"]
                [adzerk/boot-reload          "0.5.1"]
                [boot/new                    "0.5.2"]
                [degree9/boot-nodejs         "1.2.0"
                 :exclusions [boot/core]]
                 ;[degree9/boot-docker         "0.1.0-SNAPSHOT"    ]
                [degree9/boot-npm            "1.4.0"]
                [degree9/boot-exec           "1.0.0"]
                [degree9/boot-semver         "1.6.0"]
                [degree9/boot-semgit         "1.2.0"]
                [degree9/boot-electron       "0.1.0"]
                [degree9/boot-welcome        "1.0.0"]
                [degree9/electron-cljs       "0.1.0"]

                ;; featherscript relies on a version of feathers that doesn't
                ;; exist in clojars yet
                [degree9/featherscript       "0.4.0-SNAPSHOT"
                 :exclusions [cljsjs/feathers]]
                [cljsjs/feathers "2.0.0-pre.1-0"]

                [degree9/nodejs-cljs         "0.1.0"]
                [degree9/meta-template       "0.0.0"]
                [hoplon/hoplon               "7.1.0-SNAPSHOT"]
                [hoplon/brew                 "0.2.0-SNAPSHOT"]
                [degree9/material-hl         "0.10.0"]
                [degree9/uikit-hl            "3.0.0-SNAPSHOT"]
                ]
}
